body {
  background: #E5E5E5;
}
.navbar{
  background-color: #F55A5A;
  width: 100%;
  text-align: center;  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container {
  width: 60%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: white;
}

.card-container {
  padding: 1em;
  margin: 1em 1em;
  border-radius: 5px;
  background-color: lightgrey;
}

.img {
  width: 125px;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;
  float: left;
  margin-right: 1em;
}