body {
    margin: 0;
    background: #1F2937;
}

#line {
    border: 1px solid #2F3E53;
    background: #2F3E53;
    margin: 35px;
    height: 0px;
}

#psw-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.psw-box {
    background-color: #273549;
    height: fit-content;
    width: fit-content;
    min-width: 200px;
    min-height: 20px;
    border-radius: 6px;
    text-align: center;
    color: #10B981;
    padding: 20px;
}

h1 {
    font-family: 'Karla';
    font-style: normal;
    /* font-weight: 800; */
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    /* letter-spacing: -0.025em; */

    /* white */

    color: #FFFFFF;
    margin-bottom: 0px;
}

#top-container {
    margin: 115px auto auto 35px;
}

#top-container > div > label {
    color: #FFFFFF;
    margin-top: 50px;
}

#gen-btn {
    background-color: #10B981;
    color: #ffffff;
    border: 0px;
    border-radius: 6px;
    width: 191px;
    height: 42px;
    margin-bottom: 1%;
    margin-top: 1%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

#gen-btn:hover {
    cursor: pointer;
    background-color: #21C992;
}

#top-container > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    margin-top: 10px;
    margin-bottom: 0px;
}