@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');
body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.team {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    color: #EEEEEE;
}

.points-container {
    background: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    position: relative;
    text-align: center;
}

.points {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    color: #F94F6D;
}

.score-btn {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    width: 45px;
    height: 45px;

    background: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;

    cursor: pointer;
}

.score-btn:hover {
    background: #2C488B;
}

.score-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 26px;
    text-align: center;
}

#newGame-container {
    text-align: center;
    justify-content: center;
    margin-top: 26px;
}

#newGame-btn {
    width: 16%;
    height: 70px;
}
